@import url("normalize.css");

* {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
   width: 100%;
 }

.contenedorfaq {
	margin-top: 50px;
}



a.volver-atras  {
	text-decoration: none;
	color: #434343;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 0.8em;

}


p {
	text-decoration: none;
	color: #434343;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 0.8em;

}

p.titulo-respuestas  {
	text-decoration: none;
	color: #434343;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 0.9em;

}
hr.hrpreguntas  {
	border-top:  2px solid #434343;
	margin-top: 0;
	margin-bottom: 0;

}


a.volver-home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-color: transparent;
  border-radius: 10px;
  color: white;
  padding: 5px;
  background-color: rgb(102, 102, 102);
  cursor: pointer;
}
