

.descripcion-producto{
  margin-top: 30px;
}
ul.social-media {
  display: none;
}
.main-footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 900px) {

  hr.hrfooter {
    display: none;
  }
  
  .main-footer {
    width: 100%;
    background-color: rgb(236, 236, 236);
    display: inline-flex;
    text-transform: uppercase;
  	margin-top: 20px;
  }

  .main-footer ul {
    display: inline-flex;
  }

  .main-footer a {
    display: inline-flex;
    padding: 1em;
    color: #191C26;
  	text-align: center;
  }
  .main-footer ul li a {
    text-decoration: none;
    color: rgb(0,0,0);
    display: inline-flex;

  }


}
