@import url("normalize.css");

* {
  box-sizing: border-box;
}



.home {
  clear: both;
}


 .home-slider {
   display: none;
 }

a.imagen-home {
   position: relative;
   filter: brightness(80%);
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .home-seccion {
   margin-top: 30px;
 }

.home-title-seccion {
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%);
   color: #E8E8E8;
   line-height: 25px;
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   letter-spacing: 0.1em;
 }

.hastag {
  height: 100px;
  display: flex;
  justify-content: center;
  }

.hastag:hover {
 background-color: #434343;
 }

 .title-hastag {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
 }

 .title-hastag:hover {
color: white;
 }

h2.title-product {
  text-align: center;
  padding: 1%;

}

h2:hover {
  color: #3C3C3C;
  text-shadow: none;
}

h3.price {
  text-align: center;
  padding: 1px;
  color: #434343;
  line-height: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 0;
}

h3.detalle-title-product {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 0;
  color: #434343;
  line-height: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 0.8em;

}

.products-general {
    margin-top: 30px;
}

.boton{
  background-color: #66D065;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  margin-top: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 0.7em;
  color: white;


}

.titulo-seccion {
  background-color: #C9C9C9;
  margin-top: 25px;
  padding-left: 2%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.7em;

}

img.social-icon {
  position: absolute;
  top:35%;
  left: 50%;
  transform: translate(-50%);
  width: 10%;
}

.volver {
  color: #2F2E2E;
  margin-top: 20px;
  padding-left: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}


@media (min-width:768px) {
  .home-slider {
    display: block;
    margin-top: 20px;

  }
}
