@import url("normalize.css");

* {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
   width: 100%;
 }

.imagen-registro {
  display: none;
}


.fondo {
   background-color:  #E8E8E8;
}

.logoform {
  width: 40%;
}


 .formulario-registro {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 10%;
   color: #434343;
   line-height: 25px;
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   letter-spacing: 0.1em;
   background-color:  #E8E8E8;
 }

 p.registro {
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   letter-spacing: 0;
   background-color:  #E8E8E8;

 }

 .volver {
   border-color: transparent;
   border-radius: 10px;
   color: white;
   padding: 5px;
   background-color: rgb(102, 102, 102);
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
 }
 .invalid-feedback {
   color: rgb(255, 0, 0);
 }

 .btn-success {
   border-color: transparent;
   border-radius: 10px;
   color: white;
   padding: 10px;
   background-color: rgb(14, 171, 9);
   cursor: pointer;
 }

 .volver span{
   border-color: transparent;
   border-radius: 10px;
   color: white;
   padding: 5px;
   background-color: rgb(102, 102, 102);
   cursor: pointer;
 }

 input  {
   border-color: transparent;
   border-radius: 10px;
   color: white;
   padding: 5px;
  background-color: rgb(190, 190, 190);
   cursor: pointer;
 }

@media (min-width: 992px) {
  img.imagen-registro {
    display: block;
    height: 100%;
  }


}
